* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-style: normal;
  box-sizing: border-box;
}
.slick-next,
.slick-prev {
  background-color: black;
  border-radius: 50px;
}
.slick-next,
.slick-prev:hover {
  background-color: black !important;
}

.carouselItem {
  gap: 10px;
}
.cJsbsm {
  display: grid;
  grid-template-columns: 243px 243px 243px 243px;
  grid-template-areas:
    "a b b c"
    "d d e f";
  align-items: center;
  grid-gap: 20px;
  justify-content: center;
}
.a {
  grid-area: a;
}
.b {
  grid-area: b;
}
.c {
  grid-area: c;
}
.d {
  grid-area: d;
}
.e {
  grid-area: e;
}
.f {
  grid-area: f;
}
.ant-space
  css-dev-only-do-not-override-yp8pcc
  ant-space-horizontal
  ant-space-align-center {
  background-color: red !important;
}
Space + ant-space-item {
  background-color: red;
}
.Design {
  color: red;
  font-size: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.FAQ {
  font-weight: 400;
  font-size: 25px;
  line-height: 26px;
  color: #037650;
}
