* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-style: normal;
  box-sizing: border-box;
}
.slick-next,
.slick-prev {
  background-color: black;
  border-radius: 50px;
}
.slick-next,
.slick-prev:hover {
  background-color: black !important;
}

.carouselItem {
  /* background-color: purple; */
  gap: 10px;
}
